body {
	background-image: url("../images/nature-1555177901547-1608.jpg");
}

.jumbotron {
	background-color: #1c5bcf;
}

#gameSection, #scoreSection {
	background-color: b#6374d4;
	margin-left: auto;
	margin-right: auto;
}

*#numberSection, #totalPoints {
	background-color: rgb(53, 53, 145);
}*/

#buttonSection {

	background-color: rgb(53, 53, 145);
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 25px;
}

h1, h2, h3 {
    color: aliceblue;
	font-family: 'Alfa Slab One', cursive;
}

p {
	font-family: 'Ek Mukta', sans-serif;
}

.numberBox {
	font-size: 100px;
	margin: 0px;
}

.icons {
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
  	margin:10px;
}
